:root {
  --text-body: #212529;
  --text-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #314a70;

  --color-white: #fff;
  --color-ligth: #f8f9fa;
  --color-black: #343a40;
  --color-gray: #6c757d;

  --shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
}
