@import "./_root.scss";
@import "./_reset.scss";
@import "./_mixin.scss";

#app {
  min-height: 100vh;
}

button:disabled {
  opacity: 0.5;
}

input:not(input[type="checkbox"], input[type="radio"]),
select,
textarea {
  @include input_base;

  &:focus {
    outline: none !important;
    border: 1px solid var(--color-gray);
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.form-field {
  width: 100%;
  margin-bottom: 01rem;
}
.form-fild-input {
  padding: 0.5rem;

  @include display_grid;
  grid-template-columns: repeat(2, 1fr);

  .input {
    @include display_flex_align_items;
    @include card_base;
    padding: 0.5rem;
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
    cursor: pointer;

    @include transition;
    &:hover {
      @include hover_filter;
    }

    input {
      margin-right: 0.5rem;
    }
  }
}
